.profiles {
    float: left;
    width: 25%;
}
.profile {
    float: left;
    width: 75%;
}
.pwgroup {
    position: relative;
}
.vtoggle {
    position: absolute;
    top: 75%;
    right: 10px;
    z-index: 1;
    color: #f36c01;
    margin-top: -10px;
    cursor: pointer;
    transition: .3s ease all;
}
.vtoggle:hover {
    color: #333333;
}
#remove {
    float: right;
}
